@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom reset */
html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

.ghost-display {
    display: block !important;
}
.pt-search {
padding-top: 1.77rem;
}

.search-criptonauta {
margin-top: 1.5rem;
z-index: 999999999;
}
